@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
/*========================================================
                      Main Styles
=========================================================*/
body {
  font: 400 14px/24px "Open Sans", sans-serif;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
}
h2 span {
  display: block;
}
@media (max-width: 479px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 60px;
  line-height: 62px;
}
h3 span {
  display: block;
}

h4 {
  font-size: 50px;
  line-height: 1;
}

h5 {
  font-size: 20px;
  text-transform: uppercase;
}

h6 {
  font-size: 15px;
  text-transform: uppercase;
}

p {
  color: #858585;
  font-family: "Arial", sans-serif;
}

p a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .marked-list .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

@media (max-width: 991px) {
  .mobile-center {
    text-align: center;
  }
}
/*=======================================================
                       Main Layout
=========================================================*/
h2 + h6 {
  margin-top: 29px;
}

* + .link {
  margin-top: 52px;
}

h4 + form {
  margin-top: 44px;
}

img + h3 {
  margin-top: 62px;
}

h3 + p {
  margin-top: 32px;
}

h4 + h5 {
  margin-top: 42px;
}

h5 + p {
  margin-top: 19px;
}

* + .btn {
  margin-top: 60px;
}

* + .off1 {
  margin-top: 14px;
}

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  font-weight: 300;
}
.brand_name {
  overflow: hidden;
  line-height: 1.3;
}
.brand_slogan {
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #fd7400;
}

/*==================     Icons     ======================*/
.fa-facebook,
.fa-twitter,
.fa-instagram {
  display: inline-block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background: #414141;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  background: #fd7400;
}

.fa-envelope {
  font-size: 113px;
  line-height: 90px;
  color: #fd7400;
}

/*==================    Buttons    ======================*/
.btn {
  position: relative;
  display: inline-block;
  width: 244px;
  word-spacing: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding: 33px 92px 35px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #fd7400;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 156px;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 86px;
  color: #fff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 156px;
  font-family: "FontAwesome";
  font-size: 28px;
  line-height: 70px;
  background: #363636;
  z-index: -1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:hover {
  padding-right: 10px;
}
.btn:hover:after {
  left: 100%;
}
.btn:hover:before {
  left: 100%;
  opacity: 0;
}
.btn:active {
  background: #ca5d00;
}

.link {
  display: inline-block;
  width: 88px;
  height: 88px;
  line-height: 88px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background: #fd7400;
}
.link:hover {
  background: #e46800;
  -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
}
.link:active {
  background: #ca5d00;
  box-shadow: none;
}

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}

/*==================  Inline List  ======================*/
.inline-list li {
  display: inline-block;
}
.inline-list li + li {
  margin-left: 16px;
}

/*=================     Article      ===================*/
article.post {
  position: relative;
  padding-left: 112px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article.post time {
  position: absolute;
  top: 8px;
  left: 14px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}
article.post time > span:first-child {
  display: block;
  width: 70px;
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 40px;
  background: #fd7400;
}
article.post time > span:first-child span {
  display: block;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 15px;
}
article.post time > span:first-child + span {
  display: block;
  background: #363636;
  line-height: 49px;
  font-size: 15px;
}
article.post h5 span {
  line-height: 25px;
  display: block;
}
article.post h5 + p {
  margin-top: 20px;
}
@media (max-width: 991px) {
  article.post {
    margin-top: 90px;
  }
}

/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #363636;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #fd7400;
  text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.parallax p {
  color: #fff;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  padding-top: 51px;
  padding-bottom: 111px;
  background: url(../images/page-1_bgimg01.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}
@media (max-width: 767px) {
  header {
    padding-bottom: 50px;
  }
}
header .brand {
  float: left;
}
header .brand_name {
  font-size: 150px;
}
header .brand_slogan {
  font-size: 20px;
  line-height: 21px;
  margin-top: -20px;
}
@media (max-width: 767px) {
  header {
    text-align: center;
  }
  header .brand {
    float: none;
  }
  header .brand_slogan {
    margin-top: 10px;
  }
  header .brand_slogan br {
    display: none;
  }
}
@media (max-width: 479px) {
  header .brand_name {
    font-size: 86px;
  }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
}

.primary {
  color: #fd7400;
}

/*==================      Well     ======================*/
.well {
  padding-top: 91px;
  padding-bottom: 91px;
}

.well1 {
  padding-top: 295px;
  padding-bottom: 305px;
}

.well2 {
  padding-top: 139px;
  padding-bottom: 149px;
}

.well3 {
  padding-top: 80px;
  padding-bottom: 84px;
}

.well4 {
  padding-top: 295px;
  padding-bottom: 305px;
}

.well5 {
  padding-top: 152px;
  padding-bottom: 170px;
}

.ins1 {
  padding-bottom: 97px;
}

@media (max-width: 979px) {
  [class*="well"] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  [class*="ins"] {
    padding-bottom: 80px;
  }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  padding-top: 56px;
  padding-bottom: 80px;
  background: url(../images/page-1_bgimg01.jpg) center no-repeat;
  background-size: cover;
}
footer:before, footer:after {
  display: table;
  content: "";
  line-height: 0;
}
footer:after {
  clear: both;
}
footer .inline-list {
  margin-top: 35px;
}
footer .brand {
  float: left;
}
footer .brand_name {
  color: #fff;
  font-size: 76px;
  line-height: 1.3;
}
footer .brand_slogan {
  margin-top: -10px;
  font-size: 10px;
  line-height: 11px;
}
footer .inline-list {
  float: right;
}
footer .copyright {
  color: #636363;
  margin-top: 58px;
  margin-left: 25px;
  float: left;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 991px) {
  footer {
    text-align: center;
  }
  footer .brand, footer .copyright, footer .inline-list {
    float: none;
  }
  footer .brand_slogan {
    margin-top: 10px;
  }
  footer .copyright {
    margin-top: 10px;
  }
}
