/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/
.subscribe {
  /* Mail Form PlaceHolder
  ========================================================*/
  /* Mail Form Validation
    ========================================================*/
  /* MF Controls
  ========================================================*/
  /* Mail Form Submit
  ========================================================*/
}
.subscribe h5 {
  margin-top: 8px;
}
.subscribe h5 + p {
  margin-top: 8px;
}
.subscribe .mailform {
  padding-top: 8px;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.subscribe .mailform fieldset {
  border: none;
}
.subscribe .mailform * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .subscribe .mailform fieldset {
    text-align: center;
  }
  .subscribe br {
    display: none;
  }
}
.subscribe .mailform label {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 468px;
  margin-top: 0;
}
.subscribe .mailform label:first-child {
  margin-top: 0;
}
.subscribe .mailform label input, .subscribe .mailform label select, .subscribe .mailform label textarea {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 33px 33px 33px 71px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3e454c;
  background: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.subscribe .mailform label input:-moz-placeholder, .subscribe .mailform label select:-moz-placeholder, .subscribe .mailform label textarea:-moz-placeholder {
  color: #3e454c;
  opacity: 1;
}
.subscribe .mailform label input::-webkit-input-placeholder, .subscribe .mailform label select::-webkit-input-placeholder, .subscribe .mailform label textarea::-webkit-input-placeholder {
  color: #3e454c;
  opacity: 1;
}
.subscribe .mailform label input::-moz-placeholder, .subscribe .mailform label select::-moz-placeholder, .subscribe .mailform label textarea::-moz-placeholder {
  color: #3e454c;
  opacity: 1;
}
.subscribe .mailform label input:-ms-input-placeholder, .subscribe .mailform label select:-ms-input-placeholder, .subscribe .mailform label textarea:-ms-input-placeholder {
  color: #3e454c;
  opacity: 1;
}
.subscribe .mailform label textarea {
  resize: vertical;
  overflow: auto;
  height: 212px;
}
@media (max-width: 1365px) {
  .subscribe .mailform label {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .subscribe .mailform label {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .subscribe .mailform label {
    width: 280px;
  }
  .subscribe .mailform label input {
    padding: 20px 20px 20px 70px;
  }
}
@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
.subscribe .mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 33px 33px 33px 71px;
  line-height: 20px;
  color: #3e454c;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .subscribe .mfPlaceHolder {
  opacity: .4;
  -moz-transform: translateY(-26%);
  -ms-transform: translateY(-26%);
  -o-transform: translateY(-26%);
  -webkit-transform: translateY(-26%);
  transform: translateY(-26%);
}
.subscribe .mfPlaceHolder.state-1 {
  opacity: .4;
  -moz-transform: translateY(-26%);
  -ms-transform: translateY(-26%);
  -o-transform: translateY(-26%);
  -webkit-transform: translateY(-26%);
  transform: translateY(-26%);
}
@media (max-width: 479px) {
  .subscribe .mfPlaceHolder {
    padding: 20px 20px 20px 70px;
  }
}
.subscribe .mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  width: 210px;
  margin-top: 10px;
  margin-left: 0;
  padding: 10px;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  background: #111;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
}
.subscribe .mfValidation:hover {
  background: #ca5d00;
}
.subscribe .mfValidation:before {
  content: '';
  position: absolute;
  left: 25px;
  bottom: 100%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe .mfValidation:hover:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #ca5d00 transparent;
}
.subscribe .mfValidation.error {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
@media (max-width: 767px) {
  .subscribe .mfValidation {
    text-align: right;
    top: auto;
    left: auto;
    bottom: -26px;
    right: 10px;
    color: #f25f43;
    font-weight: 700;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .subscribe .mfValidation:before {
    display: none;
  }
  .subscribe .mfValidation:hover {
    background: none;
    right: 5px;
  }
}
@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.subscribe .mfControls {
  word-spacing: 10px;
  margin-top: 51px;
}
.subscribe .mfControls > * {
  position: relative;
  display: inline-block;
  width: 300px;
  word-spacing: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding: 33px 92px 35px 10px;
  text-transform: uppercase;
  color: #fff;
  background: #fd7400;
  z-index: 2;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe .mfControls > *:before {
  content: "\f1ea";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 212px;
  font-family: "FontAwesome";
  font-size: 22px;
  line-height: 86px;
  font-weight: 300;
  color: #fff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe .mfControls > *:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 212px;
  font-family: "FontAwesome";
  font-size: 28px;
  line-height: 70px;
  background: #363636;
  z-index: -1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe .mfControls > *:hover {
  padding-right: 10px;
}
.subscribe .mfControls > *:hover:after {
  left: 100%;
}
.subscribe .mfControls > *:hover:before {
  left: 100%;
  opacity: 0;
}
.subscribe .mfControls > *:active {
  background: #ca5d00;
}
.subscribe .mfControls > * .cnt {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  background: none;
}
@media (max-width: 767px) {
  .subscribe .mfControls {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .subscribe .mfControls > * {
    width: 280px;
    padding: 20px 92px 20px 10px;
  }
  .subscribe .mfControls > *:before {
    line-height: 60px;
  }
}
.subscribe .mfProgress {
  position: relative;
}
.subscribe .mfProgress .cnt, .subscribe .mfProgress .loader {
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.subscribe .mfProgress .loader {
  opacity: 0;
  text-align: left;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.subscribe .mfProgress .loader, .subscribe .mfProgress .loader:before, .subscribe .mfProgress .loader:after {
  position: absolute;
  right: 56px;
  bottom: 0;
  top: 0;
  margin: auto;
}
.subscribe .mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.subscribe .mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 50px;
  color: #fff;
  font: 400 30px "FontAwesome";
  line-height: 50px;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}
.subscribe .mfProgress.sending .cnt, .subscribe .mfProgress.fail .cnt, .subscribe .mfProgress.success .cnt {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.subscribe .mfProgress.sending .loader, .subscribe .mfProgress.fail .loader, .subscribe .mfProgress.success .loader {
  opacity: 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.subscribe .mfProgress.fail .loader:before, .subscribe .mfProgress.success .loader:before {
  -webkit-animation: fout 0.4s ease-in-out 1 forwards;
  -moz-animation: fout 0.4s ease-in-out 1 forwards;
  -ms-animation: fout 0.4s ease-in-out 1 forwards;
  -o-animation: fout 0.4s ease-in-out 1 forwards;
  animation: fout 0.4s ease-in-out 1 forwards;
  opacity: 0;
}
.subscribe .mfProgress.fail .loader:after, .subscribe .mfProgress.success .loader:after {
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.subscribe .mfProgress.sending .loader:before {
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -moz-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -ms-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -o-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.subscribe .mfProgress.fail .loader:after {
  content: '\f06a';
}
.subscribe .mfProgress.success .loader:after {
  content: '\f058';
}
.subscribe .mfProgress .msg {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
  -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
  -o-animation: notifanim-fo 0.4s ease-in-out forwards;
  animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 320px;
  margin-top: 20px;
  margin-left: -160px;
  color: #fff;
}
.subscribe .mfProgress .msg:before {
  content: '';
  position: absolute;
  margin-left: -6px;
  bottom: 100%;
  right: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 12px 3px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
@media (max-width: 767px) {
  .subscribe .mfProgress .msg {
    width: 230px;
    top: 100%;
    left: 50%;
    margin-top: 20px;
    margin-left: -115px;
  }
  .subscribe .mfProgress .msg:before {
    right: 50%;
    top: auto;
    bottom: 100%;
    margin-right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #111 transparent;
  }
}
.subscribe .mfProgress.fail .msg, .subscribe .mfProgress.success .msg {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s ease-in-out forwards;
  -moz-animation: notifanim 0.4s ease-in-out forwards;
  -ms-animation: notifanim 0.4s ease-in-out forwards;
  -o-animation: notifanim 0.4s ease-in-out forwards;
  animation: notifanim 0.4s ease-in-out forwards;
}
.subscribe .mfProgress.fail .msg {
  background: #F44336;
}
.subscribe .mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #F44336 transparent;
}
@media (max-width: 767px) {
  .subscribe .mfProgress.fail .msg:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #F44336 transparent;
  }
}
.subscribe .mfProgress.success .msg {
  background: #2E7D32;
}
.subscribe .mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2E7D32 transparent;
}
@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
