/* Mail Form PlaceHolder
========================================================*/
@mixin placeholder-fade-up() {
  *:-webkit-autofill ~ & {
    opacity: .4;
    @include transform(translateY(-26%));
  }

  &.state-1 {
    opacity: .4;
    @include transform(translateY(-26%));
  }
}

@mixin placeholder-fade-left() {
  *:-webkit-autofill ~ & {
    opacity: .4;
    @include transform(translateX(-100%));
  }

  &.state-1 {
    opacity: .4;
    @include transform(translateX(-100%));
  }

  @media (max-width: 1365px) {
    .container > .mailform &,
    .grid_12 & {
      @include placeholder-fade-up;
    }
  }

  @media (max-width: 979px) {
    .grid_10 & {
      @include placeholder-fade-up();
    }
  }

  @media (max-width: 767px) {
    @include placeholder-fade-up();
  }
}

.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: $input-padding;
  line-height: $input-line-height;
  color: lighten(saturate(adjust_hue(map-get($scheme, secondary), 210.00000000000003), 10.144927536231885%), 5.882352941176471%);
  opacity: $placeholder-opacity;
  @include placeholder-fade-up();
  @include transition(.3s all ease);

  @media (max-width: 479px) {
      padding: 20px 20px 20px 70px;
  }
}