$mf-icon-font: 400 20px/24px $fa;
$rd-icon: (
  icons: (
    phone: '\f098',
    email: '\f003',
    name: '\f007',
    message: none,
  ),
);


/* Mail Form Icon
========================================================*/
@mixin mfIcon-preset-1($state0, $state1, $stage2) {
  .mfIcon {
    span {
      &:before {
        content: $state0;
      }

      &:after {
        content: $state1;
        @include transform(scale(0) rotate(-180deg));
        @include animation(zoom-out .4s ease-in-out 1 forwards);
      }
    }
  }

  .mfIcon.state-1 {
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 0;
      height: 1px;
      background: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
      @include animation(line 1.2s .4s infinite);
    }

    span {
      &:before {
        @include transform(scale(0) rotate(90deg));
      }

      &:after {
        @include transform(scale(1) rotate(-35deg));
        @include animation(#{zoom-in-state-1 .4s ease-in-out 1 forwards, anim-1 1.2s .3s infinite, anim-2 .6s .3s infinite});
      }
    }
  }

  .mfIcon.state-2 {
    span {
      &:before {
        content: $stage2;
        @include transform(scale(0) rotate(90deg));
      }

      &:after {
        @include transform(scale(1) rotate(-210deg));
        @include animation(#{zoom-in-state-2 .4s ease-in-out 1 forwards, anim-3 .6s .4s infinite});
      }
    }
  }

  @include keyframes(anim-1) {
    0% {
      left: 50%;
    }

    100% {
      left: 90%;
    }
  }

  @include keyframes(anim-2) {
    0% {
      transform: rotate(-35deg);
    }

    25% {
      transform: rotate(-30deg);
    }

    50% {
      transform: rotate(-35deg);
    }

    75% {
      transform: rotate(-30deg);
    }

    100% {
      transform: rotate(-35deg);
    }
  }

  @include keyframes(anim-3) {
    0% {
      transform: rotate(150deg);
      left: 50%;
    }

    50% {
      transform: rotate(150deg);
      left: 90%;
    }

    100% {
      transform: rotate(150deg);
      left: 50%;
    }
  }

  @include keyframes(zoom-out) {
    0% {
      transform: scale(1) rotate(-35deg);
    }

    100% {
      transform: scale(0) rotate(-180deg);
    }
  }

  @include keyframes(zoom-in-state-1) {
    0% {
      transform: scale(0) rotate(-180deg);
    }

    100% {
      transform: scale(1) rotate(-35deg);
    }
  }

  @include keyframes(zoom-in-state-2) {
    0% {
      transform: scale(0) rotate(-35deg);
    }

    100% {
      left: 50%;
      transform: scale(1) rotate(150deg);
    }
  }

  @include keyframes(line) {
    0% {
      left: 40%;
    }

    100% {
      left: 40%;
      width: 40%;
    }
  }
}


.mfIcon {
  position: absolute;
  text-align: center;
  top: 29px;
  left: 29px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
  font: $mf-icon-font;

  span {
    &:before, &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -10px;
      margin-left: -10px;
      @include transition(.4s all ease-in-out);
    }
  }

  @media (max-width: 479px) {
      top: 15px;
  }
}

@include mfIcon-preset-1('\e0d8', '\f040', '\f040');

.mfInput {
  @each $property, $value in map-get($rd-icon, icons) {
    input[name='#{$property}'] ~ .mfIcon,
    select[name='#{$property}'] ~ .mfIcon,
    textarea[name='#{$property}'] ~ .mfIcon {
      @if $value == none {
        display: none;
      } @else {
        span:before {
          content: $value;
        }
      }
    }
  }

  input:-webkit-autofill ~ .mfIcon span,
  textarea:-webkit-autofill ~ .mfIcon span {
    &:before {
      color: #2D2D2D;
    }
  }
}