//========================================================
//                     Variables
//=========================================================

$scheme-1: (
    primary: #fd7400,
    secondary: #363636,
    default: #fff
);

$scheme-2: (
    primary: #2196F3,
    secondary: #363636,
    default: #fff
);

$scheme-3: (
    primary: #66BB6A,
    secondary: #363636,
    default: #fff
);

$scheme-4: (
    primary: #FFB74D,
    secondary: #363636,
    default: #fff
);

$scheme-5: (
    primary: #78909C,
    secondary: #363636,
    default: #fff
);

$schemes: ($scheme-1, $scheme-2, $scheme-3, $scheme-4, $scheme-5);

$default-font: 'Open Sans', sans-serif;
$secondary-font: 'Arial', sans-serif;