@import "_mixins.scss";
@import "_variables.scss";

$scheme: nth($schemes,1);
/*========================================================
                      Contact Form
=========================================================*/

$input-height: 86px;
$input-offset-top: 0;
$input-padding: 33px 33px 33px 71px;
$input-font-family: $default-font;
$input-font-size: 15px;
$input-line-height: 20px;
$input-border-radius: 0;
$input-brdr: none;
$input-font-weight: inherit;
$input-background: #fff;

$textarea-height: 212px;


$placeholder-opacity: 1;

/* MF
========================================================*/
.contact-form {
  h4 {
    text-transform: uppercase;
  }
  .mailform {
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

    fieldset {
      border: none;
      @media (max-width: 991px) {
          text-align: center;
      }
    }

    * {
      @include box-sizing(border-box);
    }
  }

  .mailform label {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: $input-offset-top;

    &:first-child {
      margin-top: 0;
    }

    input, select, textarea {
      display: block;
      width: 100%;
      margin: 0;
      -webkit-appearance: none;
      outline: none;
      font-family: $input-font-family;
      font-size: $input-font-size;
      font-weight: 600;
      padding: $input-padding;
      line-height: $input-line-height;
      text-transform: uppercase;
      color: lighten(saturate(adjust_hue(map-get($scheme, secondary), 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
      background: $input-background;
      border: $input-brdr;
      @include border-radius($input-border-radius);

      &:-moz-placeholder {
        color: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
        opacity: $placeholder-opacity;
      }

      &::-webkit-input-placeholder {
        color: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
        opacity: $placeholder-opacity;
      }

      &::-moz-placeholder {
        color: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
        opacity: $placeholder-opacity;
      }

      &:-ms-input-placeholder {
        color: lighten(saturate(adjust_hue(#363636, 213.33333333333337), 4.615384615384621%), 17.058823529411764%);
        opacity: $placeholder-opacity;
      }
    }

    textarea {
      resize: vertical;
      overflow: auto;
      height: $textarea-height;
    }

    @media (max-width: 1365px) {
      margin-top: 30px;
    }

    @media (max-width: 767px) {
        width: 100%;
    }

    @media (max-width: 479px) {
        width: 280px;
        input {
          padding: 20px 20px 20px 70px ;
        }
    }
  }

  @import "mailform_modules/_mf-animation.scss";
  @import "mailform_modules/_mf-placeholder.scss";
  @import "mailform_modules/_mf-validation.scss";
  @import "mailform_modules/_mf-submit.scss";
  @import "mailform_modules/_mf-icon.scss";
  // @import "mailform_modules/_mf-select.scss";
  // @import "mailform_modules/_mf-datepicker.scss";

}










