@import "_mixins.scss";
@import "_variables.scss";
@import "animate.css";

// Fonts
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

$scheme: nth($schemes,1);
/*========================================================
                      Main Styles
=========================================================*/
body {
    color: map-get($scheme, secodnary);
    font: 400 14px/24px $default-font;
    -webkit-text-size-adjust: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1{ 

}

h2{
	font-size: 80px;
    line-height: 1;
    text-transform: uppercase;
    span {
        display: block;
    }

    @media (max-width: 479px) {
        font-size: 48px;
    }
}

h3{
	font-size: 60px;
    line-height: 62px;
    span {
        display: block;
    }
}

h4{
	font-size: 50px;
    line-height: 1;
}

h5{
    font-size: 20px;
    text-transform: uppercase;
}

h6{
	font-size: 15px;
    text-transform: uppercase;
}

p {
    color: lighten(saturate(adjust_hue(map-get($scheme, secondary), 0), 0%), 30.980392156862752%);
    font-family: $secondary-font;
}

p, .marked-list, .list{
	a:hover{
        text-decoration: underline;
    }

    .fa{
    	text-decoration: none;
    }
}

time {
   display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &:focus{
        outline: none;
    }

    &:active{
        background-color: transparent;
    }

    @include transition(.3s);
}

a[href^="tel:"],
a[href^="callto:"] {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.fa{
	line-height: inherit;
}

[class*='fa-']{
    &:before{
        font-weight: 400;
    	font-family: $fa;
    }     
}

.page {
    overflow: hidden;
    min-height: 500px;

    .lt-ie9 & {
        min-width: 1200px;
    }
}

@media (max-width: 991px) {
    .mobile-center {
        text-align: center;
    }
}

/*=======================================================
                       Main Layout
=========================================================*/
h2 + h6 {
    margin-top: 29px;
}

* + .link {
    margin-top: 52px;
}

h4 + form {
    margin-top: 44px;
}

img + h3 {
    margin-top: 62px;
}

h3 + p {
    margin-top: 32px;
}

h4 + h5 {
    margin-top: 42px;
}

h5 + p {
    margin-top: 19px;
}

* + .btn {
    margin-top: 60px;
}

* + .off1 {
    margin-top: 14px;
}

/*=======================================================
                        Components
=========================================================*/

/*==================     Brand     ======================*/
.brand {
    display: inline-block;
    font-weight: 300;
    &_name{
        overflow: hidden;
        line-height: 1.3;
    }

    &_slogan{
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }
}

/*==================  Backgrounds  ======================*/
.bg-primary{
    background: map-get($scheme, primary);
}

/*==================     Icons     ======================*/
.fa-facebook,
.fa-twitter,
.fa-instagram {
    display: inline-block;
    width: 78px;
    height: 78px;
    line-height: 78px;
    font-size: 25px;
    text-align: center;
    color: map-get($scheme, default);
    background: lighten(saturate(adjust_hue(map-get($scheme, secondary), 0), 0%), 4.313725490196077%);
    @include border-radius(50%);
    &:hover {
        background: map-get($scheme, primary);
    }
}

.fa-envelope {
    font-size: 113px;
    line-height: 90px;
    color: map-get($scheme, primary);
}

/*==================    Buttons    ======================*/
.btn{
    position: relative;
    display: inline-block;
    width: 244px;
    word-spacing: normal;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    padding: 33px 92px 35px 10px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: map-get($scheme, primary);
    z-index: 2;
    @include box-sizing(border-box);
    @include transition(0.3s all ease);
    
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 156px;
      font-family: $fa;
      font-size: 25px;
      line-height: 86px;
      color: #fff;
      @include transition(0.3s all ease);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 156px;
      font-family: $fa;
      font-size: 28px;
      line-height: 70px;
      background: map-get($scheme, secondary);
      z-index: -1;
      @include transition(0.3s all ease);
    }

    &:hover {
      padding-right: 10px;
      &:after {
        left: 100%;
      }
      &:before {
        left: 100%;
        opacity: 0;
      }
    }

    &:active {
      background: darken(map-get($scheme, primary), 10%);
    }
}

.link  {
    display: inline-block;
    width: 88px;
    height: 88px;
    line-height: 88px;
    font-size: 25px;
    text-align: center;
    color: map-get($scheme, default);
    background: map-get($scheme, primary);

    &:hover {
        background: darken(map-get($scheme, primary),5%);
        @include box-shadow(4px 4px 16px 0 rgba(0,0,0,.3));
    }

    &:active {
        background: darken(map-get($scheme, primary),10%);
        box-shadow: none;
    }
}

/*==================      Box      ======================*/
.box {
    @include clearfix();

    &_aside{
        float: left;
    }

    &_cnt{

    }

    &_cnt__no-flow{
        overflow: hidden;
    }
}

/*==================  Inline List  ======================*/
.inline-list {
    li {
        display: inline-block;
    }

    li + li {
        margin-left: 16px;
    }
}

/*=================     Article      ===================*/
article.post {
    position: relative;
    padding-left: 112px;
    @include box-sizing(border-box);

    time {
        position: absolute;
        top: 8px;
        left: 14px;
        text-align: center;
        font-weight: 300;
        color: #fff;

        > span:first-child {
            display: block;
            width: 70px;
            padding-top: 26px;
            padding-bottom: 24px;
            font-size: 40px;
            background: map-get($scheme, primary);

            span {
                display: block;
                margin-top: 8px;
                text-transform: uppercase;
                font-size: 15px;
            }

            & + span {
                display: block;
                background: map-get($scheme, secondary);
                line-height: 49px;
                font-size: 15px;
            }
        }
    }

    h5 {
        span {
            line-height: 25px;
            display: block;
        }
    }

    h5 + p {
        margin-top: 20px;
    }

    @media (max-width: 991px) {
        margin-top: 90px;
    }
}

//==================    Imports    ======================
@import "_to-top.scss";
@import "_parallax.scss";

/*========================================================
                     HEADER  Section
=========================================================*/
header {
    padding-top: 51px;
    padding-bottom: 111px;
    background: url(../images/page-1_bgimg01.jpg) center no-repeat;
    background-size: cover;
    color: #fff;

    @media (max-width: 767px) {
        padding-bottom: 50px;
    }

    .brand{
        float: left;
        &_name {
            font-size: 150px;
        }

        &_slogan {
            font-size: 20px;
            line-height: 21px;
            margin-top: -20px;
        }
    }

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {
        text-align: center;

        .brand {
            float: none;
            &_slogan {
                br {
                    display: none;
                }
                margin-top: 10px;
            }
        }
    }

    @media (max-width: 479px) {
        .brand {
            &_name {
                font-size: 86px;
            }
        }
    }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
    display: block;
}

.primary {
    color: map-get($scheme, primary);
}

/*==================      Well     ======================*/
.well{
    padding-top: 91px;
    padding-bottom: 91px;
}

.well1 {
    padding-top: 295px;
    padding-bottom: 305px;
}

.well2 {
    padding-top: 139px;
    padding-bottom: 149px;
}

.well3 {
    padding-top: 80px;
    padding-bottom: 84px;
}

.well4 {
    padding-top: 295px;
    padding-bottom: 305px;
}

.well5 {
    padding-top: 152px;
    padding-bottom: 170px;
}

.ins1 {
    padding-bottom: 97px;
}

@media (max-width: 979px) {
    [class*="well"] {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    [class*="ins"] {
        padding-bottom: 80px;
    }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer{
    padding-top: 56px;
    padding-bottom: 80px;
    background: url(../images/page-1_bgimg01.jpg) center no-repeat;
    background-size: cover;
    @include clearfix;

    .inline-list {
        margin-top: 35px;
    }

    .brand {
        float: left;
        &_name {
            color: #fff;
            font-size: 76px;
            line-height: 1.3;
        }
        &_slogan {
            margin-top: -10px;
            font-size: 10px;
            line-height: 11px;
        }
    }

    .inline-list {
        float: right;
    }

    .copyright {
        color: lighten(saturate(adjust_hue(map-get($scheme, secondary), 0), 0%), 17.647058823529417%);
        margin-top: 58px;
        margin-left: 25px;
        float: left;
        font-size: 14px;
        line-height: 24px;
    }

    @media (max-width: 991px) {
        text-align: center;
        .brand, .copyright, .inline-list {
            float: none;
        }

        .brand_slogan {
            margin-top: 10px;
        }

        .copyright {
            margin-top: 10px;
        }
    }
}