@mixin rd-progress {
  background: #111;
  color: #fff;
}

@mixin rd-controls {
  word-spacing: 10px;
  margin-top: 41px;
}


/* MF Controls
========================================================*/

.mfControls {
  @include rd-controls;

  > * {
    position: relative;
    display: inline-block;
    width: 300px;
    word-spacing: normal;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    padding: 33px 92px 35px 10px;
    text-transform: uppercase;
    color: #fff;
    background: map-get($scheme, primary);
    z-index: 2;
    @include transition(0.3s all ease);
    
    &:before {
      content: "\f08b";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 212px;
      font-family: $fa;
      font-size: 28px;
      line-height: 86px;
      color: #fff;
      @include transition(0.3s all ease);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 212px;
      font-family: $fa;
      font-size: 28px;
      line-height: 70px;
      background: map-get($scheme, secondary);
      z-index: -1;
      @include transition(0.3s all ease);
    }

    &:hover {
      padding-right: 10px;
      &:after {
        left: 100%;
      }
      &:before {
        left: 100%;
        opacity: 0;
      }
    }

    &:active {
      background: darken(map-get($scheme, primary), 10%);
    }

    .cnt {
      font-family: $default-font;
      padding: 0;
      background: none;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }

  @media (max-width: 479px) {
      > * {
        width: 280px;
        padding: 20px 92px 20px 10px;
        &:before{
          line-height: 60px;
        }
      }
  }
}


/* Mail Form Submit
========================================================*/

  .mfProgress {
    position: relative;
    .cnt, .loader {
      @include transition(.4s all ease-in-out);
    }

    .loader {
      opacity: 0;
      text-align: left;
      letter-spacing: 10px;
      @include transform(scale(1.2));

      &, &:before, &:after {
        position: absolute;
        right: 56px;
        bottom: 0;
        top: 0;
        margin: auto;
      }

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
      }

      &:after {
        content: '';
        width: 30px;
        height: 50px;
        color: #fff;
        font: 400 30px $fa;
        line-height: 50px;
        @include transition(.4s all ease-in-out);
        @include transform(scale(0) rotate(-60deg));
      }
    }

    &.sending,
    &.fail,
    &.success {
      .cnt {
        @include transform(scale(1));
        opacity: 1;
      }

      .loader {
        opacity: 0;
        @include transform(scale(1));
      }
    }

    &.fail,
    &.success {
      .loader {
        &:before {
          @include animation(fout .4s ease-in-out 1 forwards);
          opacity: 0;
        }

        &:after {
          @include transform(scale(1) rotate(0deg));
        }
      }
    }

    &.sending {
      .loader {
        &:before {
          @include animation(motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite);
        }
      }
    }

    &.fail {
      .loader {
        &:after {
          content: '\f06a';
        }
      }
    }

    &.success {
      .loader {
        &:after {
          content: '\f058';
        }
      }
    }
  }

  .mfProgress {
    .msg {
      @include transition(.3s all ease);
      @include animation(notifanim-fo .4s ease-in-out forwards);
      @include box-sizing(border-box);
      @include box-shadow(2px 2px 2px 0 rgba(#000, 0.5));
      position: absolute;
      padding: 15px;
      font-size: 14px;
      line-height: 20px;
      opacity: 0;
      visibility: hidden;
      top: 100%;
      left: 50%;
      width: 320px;
      margin-top: 20px;
      margin-left: -160px;
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        margin-left: -6px;
        bottom: 100%;
        right: 50%;
        @include triangle(top, 6px, 12px, #111);
        @include transition(.4s all ease-in-out);
      }

      @media (max-width: 767px) {
          width: 230px;
          top: 100%;
          left: 50%;
          margin-top: 20px;
          margin-left: -115px;

          &:before {
            right: 50%;
            top: auto;
            bottom: 100%;
            margin-right: -6px;
            @include triangle(top, 12px, 6px, #111);
          }
      }
    }

    &.fail,
    &.success {
      .msg {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        @include animation(notifanim .4s ease-in-out forwards);
      }
    }

    &.fail {
      .msg {
        background: #F44336;

        &:before {
          @include triangle(top, 12px, 6px, #F44336);
          @media (max-width: 767px) {
              @include triangle(top, 12px, 6px, #F44336);
          }
        }
      }
    }

    &.success {
      .msg {
        background: #2E7D32;

        &:before {
          @include triangle(top, 12px, 6px, #2E7D32);
          @media (max-width: 767px) {
              
          }
        }
      }
    }
  }

  @include keyframes(fout) {
    0% {
      transform: scale(1) translateX(0);
    }

    100% {
      transform: scale(0) translateX(0);
    }
  }

  @include keyframes(motion) {
    0% {
      transform: translateX(0) scale(1);
    }
    25% {
      transform: translateX(-50px) scale(0.3);
    }
    50% {
      transform: translateX(0) scale(1);
    }
    75% {
      transform: translateX(50px) scale(0.3);
    }
    100% {
      transform: translateX(0) scale(1);
    }
  }
