/* Mail Form Validation
  ========================================================*/

.mfValidation {
  @include transform-origin(0% 50%);
  @include transition(.3s all ease);
  @include animation(notifanim-fo .4s cubic-bezier(.55, 0, .1, 1) forwards);
  @include box-shadow(2px 2px 2px 0 rgba(#000, 0.5));
  // @include border-radius(5px);
  position: absolute;
  top: 100%;
  left: 0;
  width: 210px;
  margin-top: 10px;
  margin-left: 0;
  padding: 10px;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  background: #111;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;

  &:hover {
    background: darken(map-get($scheme, primary), 10%);
  }

  &:before {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 100%;
    @include transform(translateX(-50%));
    @include triangle(top, 8px, 5px, #111);
    @include transition(0.3s all ease);
  }
  &:hover {
    &:before {
      @include triangle(top, 8px, 5px, darken(map-get($scheme, primary), 10%));
    }
  }

  &.error {
    @include transform(scale(1));
    opacity: 1;
    visibility: visible;
    @include animation(notifanim .4s cubic-bezier(.55, 0, .1, 1) forwards);
  }

  @media (max-width: 767px) {
    text-align: right;
    top: auto;
    left: auto;
    bottom: -26px;
    right: 10px;
    color: #f25f43;
    font-weight: 700;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    @include box-shadow(none);
    &:before {
      display: none;
    }

    &:hover{
      background: none;
      right: 5px;
    }
  }
}

@include keyframes(notifanim-fo) {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  20% {
    opacity: 1;
    transform: scale(1.1);
  }

  99% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
    transform: scale(.3);
    opacity: 0;
  }
}

@include keyframes(notifanim) {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(.3);
  }

  1% {
    visibility: visible;
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}